/* ---------- MAIN -------- */

body#bodyMain {
    background: dimgrey;
}

div#mainDiv {
}

div#pageHeader {
    text-align: center;
}

span#titlePart1,
span#titlePart2 {
    font-size: 30px;
}

span#titlePart2 {
    color: red;
}

div#mainContentDiv {
    background: black;
    color: white;
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    /*top: 50%;*/
    margin-bottom: 10px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
    min-width: 520px;
}

div#homeButtonDiv {
    text-align: center;
    margin-bottom: 4px;
}

button.mainButton {
    border-radius: 2px;
}
/* --------- GALLERY ------ */

div#imagesList {
}

div.imgInGallery {
    display: inline;
}

div#galleryHead {
    text-align: center;
}
img.imgThumb {
    /*
    width: 160px;
    height: 160px;
    */
    width: 90px;
    height: 90px;
    margin: 10px 5px 0px 5px;
    border: solid darkslategray 2px;
    cursor: pointer;
}

div#pageNumber {
    width: 30px;
    background-color: white;
    color: black;
    display: inline-block;
    text-align: center;
    border-radius: 1em;
    margin: 0px 6px;
}

div#galleryPagePaging {
    margin: 5px 0px 5px 0px;
}

div.pagingButtonPlaceholder {
    width: 24px;
    display: inline-block;
}

div#gallerySearchDiv {
    margin-top: 4px;
}

/* --------- SINGLE IMG ----- */

div.generalCommentDiv {
    margin: 20px 0px 10px 0px;
    background: #161616;
    border: solid darkslategray 1px;
}

div.commentDiv {
    margin: 0px 0px 10px 30px;
    background: #161616;
    border-top: solid darkslategray 1px;

}

span.ptsSpan {
    color: #7a7a7a;
}

span.authorSpan {
    font-weight: bold;
    color: #565656;
}

span.dateSpan {
    color: #9b9b9b;
}