/* ---------- MAIN -------- */

body#bodyMain {
    background: dimgrey;
}

div#mainDiv {
}

div#mainContentDiv {
    background: black;
    color: white;
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    /*top: 50%;*/
    margin-bottom: 10px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0)

}

/* --------- IMAGES LIST ------ */

div#imagesList {
}

div.imgInGallery {
    display: inline;
}

img.imgThumb {
    /*
    width: 160px;
    height: 160px;
    */
    margin: 10px 5px 0px 5px;
    border: solid darkslategray 2px;
}

div#pageNumber {
    width: 30px;
    background-color: white;
    color: black;
    display: inline-block;
    text-align: center;
}